<div class="container">
  <mat-card>
    <mat-card-title> COMPRAS </mat-card-title>

    <mat-card-content>
      <app-dinamyc-crud
        [columnsToDisplay]="columnsToDisplay"
        [cols]="cols"
        [origin]="origin"
        [activeHover]="true"
        [hideCreate]="true"
        [hideEdit]="true"
        (onLoadDataSource)="onLoadCompras($event)"
        (onClickRow)="onClickCompra($event)"
        *ngIf="iLoaded"
      >
      </app-dinamyc-crud>
    </mat-card-content>
  </mat-card>
</div>
