<h1 class="title section" mat-dialog-title>{{ restaurante.nombre }}</h1>
<small class="restaurante-direction">{{ restaurante.direccion }}</small>
<div mat-dialog-content>
  <ng-container *ngIf="!ordenVenta; else soportePago">
    <div>
      <mat-list role="list">
        <h1 class="section" matSubheader>Resumen del pedido</h1>
        <mat-list-item
          style="font-size: 0.9em"
          role="listitem"
          *ngFor="let orden of ordenes"
        >
          <div class="producto-container">
            <div>{{ orden.cantidad + '. ' }}</div>
            <div style="flex-grow: 5">{{ orden.Producto.nombre }}</div>
            <div style="float: right">
              {{
                orden.cantidad * orden.Producto?.precio
                  | currency: 'COP':'symbol':'1.0'
              }}
            </div>
          </div>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <div class="total">
        Total:
        {{ restaurante.valorTotalOrdenes | currency: 'COP':'symbol':'1.0' }}
      </div>
    </div>

    <div *ngIf="tercero">
      <mat-selection-list #directions [multiple]="false">
        <h1 class="section" matSubheader>Seleccione la dirección de entrega</h1>
        <ng-container
          *ngIf="tercero.Direcciones?.length > 0; else noDirections"
        >
          <mat-list-option
            *ngFor="let direccion of tercero.Direcciones"
            [value]="direccion"
            (click)="onCLickDireccion(directions)"
          >
            {{ direccion.nombre }} - {{ direccion.direccion }}
          </mat-list-option>
        </ng-container>
      </mat-selection-list>
    </div>

    <mat-selection-list #paymentMethods [multiple]="false">
      <h1 class="section" matSubheader>Seleccione el medio de pago</h1>
      <mat-list-option
        *ngFor="let metodoPago of metodosPago"
        [value]="metodoPago"
        (click)="onCLickMetodoPago(paymentMethods)"
      >
        <img matListAvatar [src]="metodoPago.imagen" style="border-radius: 0" />
        <p matLine class="bold">
          {{ metodoPago.nombre }}
        </p>
        <p matLine>
          {{ metodoPago.RestauranteMetodoPago?.detalle }}
        </p>
      </mat-list-option>
    </mat-selection-list>
  </ng-container>
</div>

<div mat-dialog-actions align="end">
  <ng-container *ngIf="!ordenVenta">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button
      (click)="onClickOrdenar()"
      [disabled]="!metodoPagoSelected || !direccionSelected"
      mat-button
    >
      Ordenar
    </button>
  </ng-container>
</div>

<ng-template #soportePago>
  <div>
    {{ metodoPagoSelected.RestauranteMetodoPago.detalle }}
  </div>
  <img
    src="assets/images/undraw_File_sync_re_0pcx.svg"
    style="max-width: 450px"
  />
</ng-template>

<ng-template #noDirections>
  <div style="color: #795548; font-size: 1em" align="center">
    <p>No tienes direcciones registradas.</p>
    <p>
      <button mat-raised-button color="primary" (click)="onClickAddDirection()">
        <mat-icon>add</mat-icon>
        agrega una dirección
      </button>
    </p>
  </div>
</ng-template>
