<mat-card class="card-container" (click)="onClickView.emit(producto)">
  <mat-card-header>
    <img
      mat-card-avatar
      [src]="producto.Imagenes[0]?.path"
      *ngIf="producto.Imagenes"
    />

    <mat-card-title >
      <div class="name">{{ producto.nombre }}</div>
    </mat-card-title>
    <mat-card-subtitle class="description">
      <p>
        {{ producto.descripcion }}
      </p>
      <div class="price">
        {{ producto.precio | currency: 'COP':'symbol':'1.0' }}
      </div>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions class="actions" *ngIf="!hideActions">
    <button
      mat-icon-button
      color="primary"
      (click)="$event.stopPropagation(); onClickShoppingCart.emit(producto)"
      matTooltip="Agregar {{ producto.nombre }} al carrito"
    >
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
