.mat-card-avatar {
  border-radius: 0 !important;
  height: 100px !important;
  width: 100px !important;
}
.mat-card {
  transition: all 200ms ease;
}

.mat-card:hover {
  background-color: #bcaaa493;
}

.actions {
  text-align: right;
}

::ng-deep .mat-card-header-text {
  width: 100%;
}

.price {
  color: #795548;
  font-size: 1.2em;
}

.name {
  color: #795548;
}


.card-container {
  
  margin-bottom: 1em;
}

.description {
  margin-top: 1.2em !important;
}
