<div class="row">
  <div class="col-6">
    <mat-form-field class="full-width">
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input />
    </mat-form-field>
  </div>
  <div class="col-6" align="right">
    <button
      mat-button
      color="primary"
      (click)="onRegister()"
      matTooltip="Agregar un nuevo registro"
      *ngIf="!hideCreate"
    >
      <mat-icon>add</mat-icon>
      Registrar
    </button>
  </div>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!--template cols-->
    <ng-container [matColumnDef]="col.field" *ngFor="let col of cols">
      <th [width]="col.width" mat-header-cell *matHeaderCellDef>
        {{ col.header }}
      </th>
      <td [width]="col.width" mat-cell *matCellDef="let data">
        <ng-container *ngIf="!col.type; else templates">
          {{ data[col.field] }}
        </ng-container>
        <ng-template #templates>
          <ul *ngIf="col.type === 'list'">
            <li *ngFor="let item of data[col.field]">{{ item }}</li>
          </ul>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="opciones">
      <th width="10%" mat-header-cell *matHeaderCellDef>OPCIONES</th>
      <td width="10%" mat-cell *matCellDef="let data">
        <!--menú de opciones-->
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <!--...-->
        <mat-menu #menu="matMenu">
          <button
            [disabled]="data.disableEdit"
            mat-menu-item
            (click)="onEdit(data)"
            *ngIf="!hideEdit"
          >
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>

          <button
            [disabled]="data.disableDelete"
            mat-menu-item
            (click)="onDelete(data)"
            *ngIf="!hideDelete"
          >
            <mat-icon>delete</mat-icon>
            <span>Eliminar</span>
          </button>

          <!--extra options-->
          <ng-container *ngFor="let menuOption of menuOptions">
            <button mat-menu-item (click)="menuOption.handler(data)">
              <mat-icon>{{ menuOption.icon }}</mat-icon>
              <span>{{ menuOption.label }}</span>
            </button>
          </ng-container>
        </mat-menu>

        <!--/menú de opciones-->
      </td>
    </ng-container>

    <!--template rows-->
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    <!--/template rows-->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell">
        No hay datos que coincidan con "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator
    itemsPerPageLabel="Elementos"
    [pageSizeOptions]="[10, 15, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
