.producto-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.total {
  width: 100%;
  text-align: right;
}

.label {
  color: #9e9e9e;
}

.orden-nombre {
  flex-grow: 5;
  margin-left: 1em;
}

h1 {
  color: #795548 !important;
}

.bold {
  font-weight: 500;
}

.payment-support-img {
  cursor: pointer;
  max-height: 300px;
}
