<mat-toolbar color="{{isLogedIn?'primary':''}}" class="toolbar" [ngClass]="{'is-logout':!isLogedIn}">
  <img src="assets/images/logo-{{isLogedIn?'w':'color'}}.png" width="70" matTooltip="Restaurantes Llaneros">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col">
        <button mat-button routerLink="inicio"  routerLinkActive="mat-accent">
          Inicio
        </button>
      </div>

      <!------------------MENU------------------->
      <div class="col-md-auto">
        <!--Admin-->
        <ng-container *ngIf="isLogedIn && user.rol_id === roles.Admin">
          <button routerLinkActive="mat-accent" mat-button [routerLink]="['categorias']">Categorías</button>
          <button routerLinkActive="mat-accent" mat-button [routerLink]="['restaurantes']">
            Restaurantes
          </button>
          <button routerLinkActive="mat-accent" mat-button [routerLink]="['metodos-pago']">
            Metodos de pago
          </button>
        </ng-container>

        <button routerLinkActive="mat-accent" mat-button [routerLink]="['registro']" *ngIf="!isLogedIn">
          Registro
        </button>
      </div>

      <div class="col-md-auto">
        <ng-container *ngIf="isLogedIn; else login">
          <ng-container *ngIf="user.rol_id === roles.Restaurante">
            <button routerLinkActive="mat-accent" mat-button [routerLink]="['restaurante/reservas']">
              <span> Reservas </span>
            </button>
            <button
              routerLinkActive="mat-accent"
              matBadgeColor="accent"
              [matBadge]="totalVentas"
              [matBadgeHidden]="!totalVentas"
              mat-button
              [routerLink]="['restaurante/ventas']"
            >
              Ventas
            </button>
          </ng-container>

          <button routerLinkActive="mat-accent" mat-button [routerLink]="['mis-reservas']">
            Mis Reservas
          </button>
          <button routerLinkActive="mat-accent" mat-button [routerLink]="['compras']">Compras</button>

          <button
            routerLinkActive="mat-accent"
            [routerLink]="['carrito']"
            mat-button
            matTooltip="Mi carrito de compras"
          >
            <mat-icon
              matBadgeColor="accent"
              [matBadge]="totalOrdenes"
              [matBadgeHidden]="!totalOrdenes"
              >shopping_cart</mat-icon
            >
          </button>

          <!--Restaurante------------------->
          <ng-container *ngIf="isLogedIn && user.rol_id === roles.Restaurante">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              (mouseenter)="onMouseEnterRestaurante()"
              (mouseleave)="onMouseLeaveRestaurante()"
            >
              <mat-icon>store</mat-icon>
            </button>
            <mat-menu #menu="matMenu" [hasBackdrop]="false">
              <div
                (mouseenter)="onMouseEnterRestaurante()"
                (mouseleave)="onMouseLeaveRestaurante()"
              >
                <button
                  routerLinkActive="mat-accent"
                  mat-menu-item
                  [routerLink]="['perfil']"
                  [queryParams]="{ tab: 1 }"
                >
                  <mat-icon>create</mat-icon>
                  <span>Información Basica </span>
                </button>
                <button routerLinkActive="mat-accent" mat-menu-item [routerLink]="['restaurante/personal']">
                  <mat-icon>people</mat-icon>
                  <span> Personal </span>
                </button>
                <button routerLinkActive="mat-accent" mat-menu-item [routerLink]="['restaurante/productos']">
                  <mat-icon> fastfood</mat-icon>
                  <span> Productos </span>
                </button>
                <button routerLinkActive="mat-accent" mat-menu-item [routerLink]="['restaurante/mesas']">
                  <mat-icon> table_chart</mat-icon>
                  <span> Mesas </span>
                </button>
              </div>
            </mat-menu>
          </ng-container>

          <!------------------------->

          <button routerLinkActive="mat-accent" mat-button [routerLink]="['perfil']" matTooltip="Mi cuenta">
            <mat-icon>person</mat-icon>
          </button>

          <button matTooltip="Salir" mat-icon-button (click)="onLogout()">
            <mat-icon>logout</mat-icon>
          </button>
        </ng-container>

        <ng-template #login>
          <button matTooltip="Entrar" mat-icon-button (click)="onLogin()">
            <mat-icon>login</mat-icon>
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</mat-toolbar>
