<mat-toolbar color="primary" class="toolbar">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col">
        <span (click)="homeButton._elementRef.nativeElement.click()"
          >Restaurantes Llaneros</span
        >
      </div>

      <!------------------MENU------------------->
      <div class="col-md-auto">
        <button #homeButton mat-button [routerLink]="['']">Iinicio</button>

        <!--Restaurante-->
        <ng-container *ngIf="isLogedIn && user.rol_id === roles.Restaurante">
          <button mat-button [routerLink]="['restaurante/personal']">
            Personal
          </button>
          <button mat-button [routerLink]="['restaurante/platos']">
            Platos
          </button>
          <button mat-button [routerLink]="['restaurante/mesas']">Mesas</button>
        </ng-container>

        <!--Admin-->
        <ng-container *ngIf="isLogedIn && user.rol_id === roles.Admin">
          <button mat-button [routerLink]="['categorias']">Categorías</button>
          <button mat-button [routerLink]="['restaurantes']">
            Restaurantes
          </button>
        </ng-container>

        <button mat-button [routerLink]="['registro']" *ngIf="!isLogedIn">
          Registro
        </button>
      </div>

      <div class="col-md-auto">
        <ng-container *ngIf="isLogedIn; else login">
          <button mat-icon-button (click)="onLogout()">
            Salir
            <mat-icon>logout</mat-icon>
          </button>
        </ng-container>

        <ng-template #login>
          <button mat-icon-button (click)="onLogin()">
            Ingresar
            <mat-icon>login</mat-icon>
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</mat-toolbar>
