<mat-toolbar>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col">
        <span>Restaurantes Llaneros</span>
      </div>

      <div class="col-md-auto">
        <button mat-button [routerLink]="['']">Iinicio</button>
        <button mat-button [routerLink]="['restaurantes']">Restaurantes</button>
      </div>

      <div class="col-md-auto">
        <button mat-icon-button>
          Entrar
          <mat-icon>login</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>
