<div class="container">
  <mat-card>
    <mat-card-title> Restaurantes Típicos del Llano </mat-card-title>

    <mat-card-content>
      <div class="row">
        <div
          class="col-6 card-container"
          *ngFor="let restaurante of restaurantes"
        >
          <app-restaurante-card
            [restaurante]="restaurante"
            [routerLink]="['restaurante', restaurante.nombre]"
          ></app-restaurante-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
